<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/hibernate-configuration">
    <session-factory>
        <property name="connection.url">jdbc:postgresql://127.0.0.1:5432/postgres</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">fghrty212vyt</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="use_sql_comments">true</property>
        <mapping resource="ru/job4j/model/Item.hbm.xml"/>
    </session-factory>
</hibernate-configuration>