<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <servlet>
        <servlet-name>ReadServlets</servlet-name>
        <servlet-class>ru.job4j.todolist.presentation.ReadServlets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadServlets</servlet-name>
        <url-pattern>/read</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CarStorageServlet</servlet-name>
        <servlet-class>ru.job4j.carStrorage.Presentation.CarStorageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarStorageServlet</servlet-name>
        <url-pattern>/cars</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CarViewMachineServlet</servlet-name>
        <servlet-class>ru.job4j.carStrorage.Presentation.CarViewMachineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarViewMachineServlet</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CarAddServlet</servlet-name>
        <servlet-class>ru.job4j.carStrorage.Presentation.CarAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarAddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CarEditServlet</servlet-name>
        <servlet-class>ru.job4j.carStrorage.Presentation.CarEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarEditServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>



</web-app>